body, html {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: sans-serif;
}

header {
  position: relative;
  background-color: #2b2b2b;
  background-image: url('2win_logo.png');
  background-repeat: no-repeat;
  background-position:  bottom 30px right 25px;
  width: 1190px;
  height: 149px;
  margin: 0 auto;
}

nav ul {
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 35px;
}

nav li {
  display: inline-block;
  height: 25px;
  margin-right: 45px;
  text-transform: uppercase;
}

nav li:before {
  position: relative;
  right: 10px;
  top: 5px;
}

nav a {
  text-decoration: none;
  color: #25b4fe;
}

nav select {
  position: relative;
  top: -7px;
  background: transparent;
  border: none;
  color: #25b4fe;
  font-size: 14px;
  -webkit-appearance: none;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 1190px;
  box-sizing: border-box;
li.icon {
  color: #939393;
}

li.icon.active {
  color: #ffffff;
}
.icon:before, #users_link:after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  filter: url(#colorize);
}

.icon.active:before {
  filter: invert(100%) brightness(73%);
}
#users_link {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  line-height: 25px;
}

#share_link:before {
  background-image: url('share.png');
}

#plist_link:before {
  background-image: url('playlist.png');
}

#video_link:before {
  background-image: url('profile.png');
}

#users_link:before {
  background-image: url('settings.png');
  width: 30px;
  height: 30px;
}

#users_link:after {
  background-image: url('caret-down.png');
  width: 15px;
  background-repeat: no-repeat;
  background-position-y: center;
}
