<html>
  <head>
    <title>
      Static Comp
    </title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  </head>

  <body>
   <%= yield %>
  </body>
</html>
